@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.507), rgba(4, 9, 30, 0.516)), url(assets/images/galleryphoto.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 170px;

}

.nav-links {
  flex: 1;
  text-align: right;
  
}


.nav-links ul li a.active {
  font-weight: bolder;
  padding: 4px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links ul li:after{
  content: '';
  width: 0%;
  height: 2px;
  background: #5f9bce;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}


.container2{
  max-width: 1240px;
  margin: auto;
}

.row2{
  display: flex;
  flex-wrap: wrap;
}

.portfolio{
  background-color: #fff;
  padding: 100px 7px;
}

.section-title3{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.section-title3 h1{
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  color: #000;
  margin: 0 0 5px;
  position: relative;
}

.text-center{
  text-align: center;
}


.portfolio .section-title3 h1:before{
  left: 30%;
}

.portfolio .filter-buttons{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.portfolio .filter-buttons ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.portfolio .filter-buttons ul li{
  color:black;
  font-weight: 500;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active2{
  color: #5f9bce;
  border-bottom: 2px solid #5f9bce;

}

.portfolio .portfolio-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}

.portfolio .portfolio-gallery .item .inner{
  position: relative;
}

.portfolio .portfolio-gallery .item img{
  width: 100%;
  height: 320px;
  display: block;
}


/* Gallery Responsive Section */
@media(max-width: 767px) {
  .portfolio .portfolio-gallery .item{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }
}

@media(max-width: 500px) {
  .portfolio .portfolio-gallery .item{
    flex: 0 0 100%;
    max-width: 100%;
  
  }
}







.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;

}

.hero-btn:hover {
  border: 1px solid #5f9bce;
  background: #5f9bce;
  transition: 1s;
}

nav .fa{
  display: none;
}

@media(max-width: 700px) {

  html, body {overflow-x: hidden;}

  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li a:hover, .nav-links ul li a.active {
    color: #5f9bce;
  }

  .nav-links ul li a.active, .nav-links ul li a:hover {
    color: #5f9bce;
    font-weight: bolder;
  }

  .nav-links ul li{
    display: blocks;
    
  }
  .nav-links{
    position: absolute;
    background: #b1bcc5;
    height: 100vh;
    width: 200px; 
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: .6s;
    font-size: 40px;
    box-sizing: border-box;
  box-shadow: 5px 0 10px 3px rgb(2, 2, 2);
  }
  nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}


/*-Work-*/
.work {
  width: 80%; 
  margin: auto;
  text-align: center;
  padding-top:100px ;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300px;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.work-col{
  flex-basis: 31%;
  background: #5f9ace93;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
} 

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.work-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0,2);
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}















.container5 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}




h4 {
  font-size: 2.5rem;
  color: #5f9acec3;
  margin-bottom: 3rem;
}



/* Service Section */
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top{
  width: 88%;
  max-width: 0 auto;
}


#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item{
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(https://www.steelmastersnyc.com/wp-content/uploads/2018/12/iron-works.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 20px;
}

.contactusp {
  font-size: 1.1rem;
  text-decoration: none;
  color: #00aeef;
}

.container3 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .8;
  z-index: -1;
}

.services .service-bottom .icon{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-bottom .icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#services .service-item h2{
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p{
  color:white;
  text-align: left;
}

.section-title{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
.section-title span {
  color: #00aeef;
}

.section-title2{
  font-size: 2.8rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  text-align: center;
}
.section-title2 span {
  color: crimson;
}

@media only screen and (min-width:768px){
  /* Service Section */
  #services .service-bottom .service-item{
      flex-basis: 45%;
      margin: 1.5%;
  }
  h1 .section-title .section-title2{
    font-size: 7rem;
}
}

@media only sreen and (min-width: 1200px){
  #services .service-bottom .service-item{
      flex-basis: 22%;
      margin: 1.5%;
  }
}





/* start: main property styles */

#property-details {
  padding: 1.75rem 20px 0.5rem;
}

#property-details strong {
  font-size: 1.2rem;
  display: block;
  line-height: 1;
}

#property-details small {
  font-size: 0.85rem;
  font-weight: 300;
}

#property-details .home-icon {
  margin-right: 5px;
  font-size: 40px;
  color: #00aeef;
}

#property-details .home-icon .fa {
  position: relative;
  bottom: 10px;
}

#property-details .address-container {
  flex: 0 0 35%;
  justify-content: flex-start;
}

#property-details .address-container .year-built-sm {
  display: none;
}

#property-details address {
  font-style: normal;
  line-height: 1.1;
}

#property-details .status .for-sale {
  display: inline-block;
  background: green;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  margin-right: 1px;
  position: relative;
  top: 3px;
}

#property-details .property-stats-container {
  justify-content: flex-start;
  flex-wrap: wrap;
}

#property-details .property-stats-container .year-built {
  flex: 0 0 100%;
  margin-left: 10px;
}

#property-details .property-stats-container .padded-inner-container {
  border-left: 1px solid #444;
  padding: 0 0.5rem;
  line-height: 1.1;
  text-align: center;
}

#property-details .property-stats-container .price .padded-inner-container {
  border-left: none;
}

.actions-container {
  justify-content: flex-start;
}

.actions-container > div {
  text-align: center;
}

.actions-container button {
  background: transparent;
  border: 1px solid #999;
  display: block;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  font-size: 18px;
  color: #444;
}

.actions-container .share button {
  border-left: none;
}

.actions-container button:hover {
  background: #ddd;
}

/* end: main property styles */




/* start: nearby similar homes styles */

#nearby-similar-homes {
  margin: 4rem 0 6rem;
  position: relative;
}

#nearby-similar-homes .container5 {
  position: relative;
}


#properties-slider a {
  text-decoration: none;
  
}

#properties-slider a.slick-arrow {
  color: #000;
  position: absolute;
  top: -78px;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#properties-slider a.slick-prev {
  right: 80px;
}

#properties-slider .slick-slide {
  padding: 0 15px;
}

#properties-slider img {
  width: 100%;
  display: block;
}

#properties-slider .property-details {
  padding: 1rem;
}

#properties-slider .price {
  font-size: 1.2rem;
  color: #343a40;
  font-weight: 800;
  margin: 0 0 0.5rem 0;
}

#properties-slider .property-details span {
  font-size: 0.8rem;
  color: #5f9acef7;
  padding-right: 15px;
}

#properties-slider .property-details span.baths {
  padding-left: 10px;
}

#properties-slider .property-details span.sqft {
  padding-right: 0;
  padding-left: 10px;
}

#properties-slider .property-details span.beds, #properties-slider .property-details span.baths {
  border-right: 1px solid #888;
}

#properties-slider .property-details address {
  font-size: 0.8rem;
  font-style: normal;
  margin-top: 0.5rem;
  color: rgb(86, 92, 92);
}

/* end: nearby similar homes styles */

/* start: property details styles */

#property-info-details .flex {
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#property-info-details .flex.main-details {
  width: 60%;
  justify-content: space-between;
}

#property-info-details .flex>div {
  flex: 0 0 30%;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

#property-info-details .flex.main-details>div {
  flex: 0 0 40%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#property-info-details .flex label {
  font-weight: 600;
}

#property-info-details .flex label .fa {
  color: black;
  margin-right: 5px;
  position: relative;
  top: 2px;
  font-size: 1.6rem;
  width: 30px;
  text-align: center;
}

/* end: property details styles */
/* Testimonials */


.section-title{
    font-size: 3.7rem;
    font-weight: 300;
    color: rgb(92, 85, 85);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    
  }
  .section-title span {
    color: #00aeef;
  }
  
  .section-title2{
    font-size: 2.8rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    text-align: center;
  }
  .section-title2 span {
    color: crimson;
  }

/* start: contact styles */

#contact {
    margin-bottom: 0;
    background: #f8f9fa;
    padding: 4rem 0 8rem;
  }
  
  #form-container {
    background: #fff;
    padding: 3rem;
    box-sizing: border-box;
  }
  
  #form-container h3 {
    color: #000;
    font-family: "Playfair Display", serif;
    margin-bottom: 2rem;
  }
  
  #form-container label {
    display: block;
    color: #000;
    margin-top: 1rem;
  }
  
  #form-container input, #form-container textarea {
    display: block;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 1rem;
    color: #495057;
  }
  
  #form-container textarea {
    height: 170px;
    margin-bottom: 2rem;
    resize: none;
  }

  button.rounded {
    background: #5f9bce;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
  }
  
  h2 {
    font-size: 2.5rem;
    color: #5f9bce;
    margin-bottom: 3rem;
    font-family: "Playfair Display", serif;
  font-weight: 800;
  line-height: 1.2;
  }
  
  h3 {
    font-size: 1.4rem;
    font-weight: 300;
    border-bottom: 1px solid #999;
    margin-bottom: 1rem;
  }
  /* end: contact us styles */

/* start: footer styles */

footer {
  background: #333;
  padding: 8rem 0;
  color: #777;
}

footer .flex {
  padding-bottom: 6rem;
  border-bottom: 1px solid #777;
}
h5 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}

footer h5 {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 300;
}

footer h5.follow-us {
  margin-top: 1rem;
}

footer .footer-about {
  width: 47%;
}

footer .footer-about p {
  width: 65%;

}

footer .footer-quick-links {
  width: 16%;
  margin: 30px;

}

footer .footer-quick-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

footer .footer-quick-links ul li {
  margin: 10px 0;
}

footer .footer-quick-links ul li a {
  color: #777;
  text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
  color: #fff;
  transition: .5s;
}

footer .footer-subscribe {
  width: 35%;

}

#subscribe-container {
  position: relative;
}

footer .footer-subscribe input {
  border-radius: 30px;
  height: 43px;
  font-family: "Roboto", "Helvetica", "Sans-serif";
  border: 1px solid #6c757d;
  background-color: transparent;
  font-size: 1rem;
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  width: 80%;
}

footer button.right-rounded {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #00aeef;
  font-size: 16px;
  color: #000;
  padding: 10px 30px 9px;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
}

footer button.right-rounded:hover {
  background: #fff;
 
}

footer .footer-subscribe ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-subscribe ul li {
  display: inline-block;
  margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
  margin-left: 0;
}

footer .footer-subscribe ul li a {
  text-decoration: none;
  color: #777;
}

footer .footer-subscribe ul li a:hover {
  color: #fff;
  transition: .5s;
}

footer small {
  margin-top: 3rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  padding: 0 20px;
}

footer small a {
  color: #777;
  text-decoration: none;
}

footer small a:hover {
  color: #fff;
  
}

/* end: footer styles */

/* start: media queries */

@media (max-width: 991px) {
   
  #property-details small {
    font-size: 0.75rem;
  }
  
}

@media (max-width: 767px) {
  #properties-slider .property-details span {
    font-size: 1.6rem;
    margin-right: 10px;
  }
  #properties-slider .price {
    font-size: 1.8rem;
    color: #59616a;
    font-weight: 800;
    margin: 0 0 0.5rem 0;
  }
  #properties-slider .property-details address {
    font-size: .9rem;
    font-style: normal;
    margin-top: 0.5rem;
    color: rgb(86, 92, 92);
}
h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.75rem;
  }
  .container5 {
    max-width: 540px;
  }
  #property-details {
    flex-wrap: wrap;
  }
  #property-details .address-container, #property-details .property-stats-container {
    flex: 0 0 50%;
  }
  #property-details .property-stats-container {
    justify-content: flex-end;
  }
  #property-details .property-stats-container .padded-inner-container {
    padding: 0 0.35rem;
  }
  #property-details .property-stats-container strong {
    font-size: 1rem;
  }
  #property-details .property-stats-container .year-built {
    margin-left: 0;
    flex-basis: auto;
  }
  #property-details .actions-container {
    justify-content: center;
    flex: 0 0 100%;
    margin-top: 0.5rem;
  }
  #property-image-slider .slick-prev, #property-image-slider .slick-next {
    display: none !important;
  }
  #property-image-slider .slick-slide img, 
  #map, #street {
    height: 390px;
  }
  .frontscreenvideo {
    height: 390px;
    width:320px;
  }
  .slider-options-container .image-fade span {
    font-size: 1rem;
  }
  #property-description .listed-by-container>div {
    font-size: 0.9rem;
  }
  #property-description .listed-by-container button {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  #nearby-similar-homes .container5:before {
    top: 2px;
    font-size: 0.85rem;
  }
  #properties-slider a.slick-arrow {
    font-size: 0.85rem;
  }
  #property-info-details .flex.main-details {
    width: 100%;
  }
  #property-info-details .flex.main-details>div {
    flex-basis: 100%;
  }
  #property-info .flex>div, #property-info-details .flex>div {
    flex-basis: 100%;
    margin-right: 0;
  }
  #form-container {
    padding: 2rem;
  }
  footer {
    padding: 6rem 0;
  }
  footer .flex {
    flex-wrap: wrap;
  }
  footer .flex>div {
    width: 100%;
    margin-top: 1rem;
  }
  footer .flex>div:first-child {
    margin-top: 0;
  }
  footer .footer-about p {
    font-size: 1rem;
    width: 100%;
  }
  footer .footer-subscribe input {
    width: 90%;
  }
  footer h5.follow-us {
    margin-top: 2rem;
  }
}

@media (max-width: 575px) {
  #property-details {
    padding-top: 1rem;
  }
  #property-details .address-container {
    flex: 0 0 65%;
    flex-wrap: wrap;
  }
  #properties-slider .property-details span {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  #properties-slider .price {
    font-size: 1.5rem;
    color: #59616a;
    font-weight: 800;
    margin: 0 0 0.5rem 0;
  }
  #properties-slider .property-details address {
    font-size: .8rem;
    font-style: normal;
    margin-top: 0.5rem;
    color: rgb(86, 92, 92);
}

  #property-details .property-stats-container {
    flex: 0 0 35%;
  }
  #property-details strong {
    font-size: 1rem;
  }
  #property-details .property-stats-container strong {
    font-size: 0.85rem;
  }
  #property-details .property-stats-container .padded-inner-container {
    text-align: right;
  }
  #property-details .property-stats-container .price,
  #property-details .property-stats-container .sqft {
    flex: 0 0 100%;
    margin-bottom: 6px;
  }
  #property-details .property-stats-container .beds {
    margin-bottom: 6px;
  }
  #property-details .property-stats-container .beds .padded-inner-container,
  #property-details .property-stats-container .sqft .padded-inner-container {
    border: none;
  }
  #property-details .property-stats-container .year-built {
    display: none;
  }
  #property-details .address-container .year-built-sm {
    flex: 0 0 100%;
    display: block;
  }
  #property-details .actions-container {
    margin-top: 0;
  }
  #property-details .actions-container button {
    font-size: 13px;
  }
  #property-details .actions-container small {
    display: none;
  }
  #property-image-slider .slick-slide img,
  #map, #street {
    height: 330px;
  }
  .frontscreenvideo {
    height: 330px;
    width:290px;
  }
  .slider-options-container .image-fade span {
    bottom: 0.25rem;
    font-size: 0.85rem;
  }
  #property-description .flex {
    flex-wrap: wrap;
  }
  #property-description .description, #property-description .listed-by-container {
    flex-basis: 100%;
  }
  #property-description .listed-by-container>div, #property-description .listed-by-container button {
    font-size: 1.2rem;
  }
  .price-history-container .flex {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  #property-image-slider .slick-slide img,
  #map, #street {
    height: 290px;
  }
  .frontscreenvideo {
    height: 290px;
    width:245px;
  }
  #properties-slider a.slick-arrow {
    top: -40px;
  }
  #nearby-similar-homes .container5:before {
    top: 40px;
  }
  #contact {
    padding: 4rem 0;
  }
  #contact h2 {
    margin-bottom: 2rem;
  }
  #form-container {
    padding: 1.5rem;
  }
  footer {
    padding: 4rem 0;
  }
  
}

@media (max-width: 400px) {
  #property-image-slider .slick-slide img,
  #map, #street {
    height: 245px;
  }
  
}







/* end: media queries */